footer {
  background-color: #ebeadc;
  text-align: center;
  padding: 20px; 
  border-top: 2px solid #ccc; 
  width: 100%;
  position: fixed; 
  bottom: 0; /* Aligns footer to the bottom of the viewport */
  font-size: 18px; 
  font-family: 'Jacques Francois', serif; 
  font-weight: bold; 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

main {
  flex-grow: 1; 
}
